* {
    display:flex;    
    box-sizing: content-box;
    padding: 0;
    margin: 0;

}

.body {
    background-color: #d9dcd6;
}

.header {
    display: inline-flexbox;
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}
.nav {
    display: block;
    display: flexbox;
}

.header h1 {
    display: inline;
    font-size: 48px;
}

.header h1 .seo {
    color: black
}

.header div {
    display: inline;
    padding-top: 50px;
    margin-left: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.ul {
    display: inside;
    align-content: flex-end;
    list-style-type: none;
}
.header div ul li {
    display: inline-flex;
    margin-left: 25px;
    
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

.hero {
    height: 1200px;
    width: 100%;
    margin-bottom: 25px;
    margin-left: 50%;
    background-size: cover;
    background-position: center;
    
}

.float-left {
    float: right;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}
.img {
    display: block;
    justify-items: left;
}
.hero-text {
    text-align: right;
    position: relative;
    top: 50%;
    left: 50%;
    color: white;
}
.Web-Page-Developement {
    margin-bottom: 20px;
    padding: 50px;
    height: 100px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.Main {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.All-Kinds-Of-Stuff {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.Web-Page-Developement img {
    max-height: 200px;
}

.Main-Projects img {
    max-height: 200px;
    display: inline-block;
}

.Side-Projects img {
    max-height: 200px;}

.Main-Projects h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.Side-Projects h2 {  
    margin-bottom: 20px;
    font-size: 36px;
}

.footer {
    position: bottom;
    padding: 30px;
    clear: inline-end;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

